@media (width >= 768px){
    body {
        background-image: url(../img/home/banner-bg.png);
        background-repeat: no-repeat;
        background-position: 100% 0;
    }
}
/*====================================== Banner Section ======================================*/
.main_banner {
	padding: 4rem 0;
	display: flex;
	align-items: center;
}
.mob_banner{
	display: none;
}
@media (width < 768px) {
	.mob_banner{
		position: absolute;
		inset: 0;
		display: grid;
		justify-content: center;
		overflow: hidden;
		z-index: -1;
		height: 100%;
	}
	.mob_banner > img{
		grid-area: stack;
		position: relative;
		width: auto;
		height: 65%;
		opacity: 0;
		object-fit: cover;
		z-index: 0;
	}
	.mob_banner > img.next{
		z-index: 1;
		opacity: 1;
	}
	.mob_banner > img.active{
		z-index: 2;
		opacity: 1;
		animation: fadeOut 500ms linear 4500ms forwards;
	}
	@keyframes fadeOut {
		0%{
			opacity: 1;
		}
		100%{
			opacity: 0;
		}
	}
}
.main_banner_text {
    color: var(--heading-color);
	font-size: 4rem;
	line-height: 1.5;
	font-weight: 600;
	margin-bottom: 1.5rem;
}
.main_banner_text > span {
	display: inline-block;
	color: var(--theme-color);
	position: relative;
}
.main_banner_text > span::before {
    content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: var(--theme-color);
	bottom: 0rem;
}
.main_banner_desc {
	color: #333;
	font-size: 1.25rem;
	letter-spacing: 1px;
	line-height: 1.3;
}
.main_title {
    color: var(--theme-color);
	font-size: 12rem;
	font-weight: 600;
	position: absolute;
	bottom: 10%;
	left: -20px;
	opacity: 0.1;
	z-index: -1;
}
@media (width < 768px) {
    .main_banner_text {
        font-size: 2.5rem;
		color: #fff;
    }
    .main_title{
		font-size: 6rem;
		bottom: 5%;
    }
    .main_banner{
        padding: 3rem 0rem;
        text-align: center;
		--bgc: #00000099;
		background-image: linear-gradient(0deg, var(--bgc), var(--bgc));
    }
	.main_banner_desc {
		text-align: justify;
		color: #ddd;
		padding: 0 1.5rem;
	}
}
.banner_element {
    position: absolute;
	width: 540px;
	height: 600px;
	background-image: url(../img/home/elements.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform-style: preserve-3d;
	visibility: visible;
}
.banner_btn {
    scale: 1.1;
}
/*====================================== Masonary Section ======================================*/
.gallery_preview{
	display: none;
}
.gallery_preview.show{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;
	width: 100vw;
	height: 100vh;
	padding: 1.5rem;
	background-color: #00000090;
	backdrop-filter: blur(5px);
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
}
.gallery_close, .gallery_preview > button{
	cursor: pointer;
	font-size: 1.5rem;
	line-height: 1;
	border-radius: 5rem;
	padding: .5rem .7rem;
	color: #fff;
	background-color: var(--highlight);
}
.gallery_preview > div{
	height: 2.5rem;
}
.gallery_preview > button{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	border: none;
	align-self: center;
}
div[data-gallery]{
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 5.5rem);
}
[data-gallery] > img{
	max-width: 80%;
	height: auto;
	max-height: 100%;
}
@media (width >= 768px) {
	.masonary {
		display: grid;
		gap: 8px;
		grid-template-columns: repeat(10, minmax(9.091%, auto));
		grid-template-rows: repeat(10, minmax(50px, auto));
		margin: 5rem auto;
	}
	.masonary > div{
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		cursor: pointer;
		box-shadow: 0 .5rem .75rem #00000038;
		border-radius: 8px;
	}
	.masonary > div > img{
		flex-shrink: 0;
		width: auto;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
	}
	.masonary_img1 {
		grid-area: 3/1/9/3;
	}
	.masonary_img2 {
		grid-area: 2/3/6/5;
	}
	.masonary_img3 {
		grid-area: 6/3/11/5;
	}
	.masonary_img4 {
		grid-area: 1/5/5/7;
	}
	.masonary_img5 {
		grid-area: 5/5/8/7;
	}

	.masonary_img6 {
		grid-area: 2/7/4/9;
	}
	.masonary_img7 {
		grid-area: 4/7/9/9;
	}
	.masonary_img8 {
		grid-area: 1/9/5/11;
	}
	.masonary_img9 {
		grid-area: 5/9/8/11;
	}
	.masonary_img10 {
		grid-area: 8/9/11/11;
	}
}
@media (width < 768px) {
	div[data-gallery]{
		height: calc(100vh - 10rem);
		width: 75%;
	}
	.masonary {
		display: flex;
		flex-wrap: wrap;
        justify-content: space-around;
	}
	.masonary > div {
		width: calc(50% - 8px);
		padding: 4px;
        margin: 4px;
		aspect-ratio: 1;
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		background: #eee;
	}
	.masonary > div > img{
		flex-shrink: 0;
		width: 100%;
		height: auto;
		max-height: 100%;
		object-fit: cover;
	}
}
/*====================================== Calender Section ======================================*/
.left_heading {
	position: relative;
}
.left_heading::before {
	content: "";
	position: absolute;
	top: -40px;
	left: -70px;
	width: 114px;
	height: 108px;
	background-image: url(../img/home/sec-bg.png);
	background-repeat: no-repeat;
	z-index: -1;
}
.calender_cell {
	padding: 0.75rem 0.5rem;
	border: 2px solid #3d3d3d80;
}
.calender > thead > tr.bg-theme {
	border: 2px solid var(--theme-color);
}
.calender td {
	cursor: pointer;
	padding: 0.75rem 0;
	font-weight: 700;
	border-right: 2px solid #80808080;
	border-bottom: 2px solid #80808080;
}
@media (width < 768px) {
	.calender_cell{
		font-size: 0.75rem;
	}
	.calender td {
		font-size: 0.75rem;
	}
}
.calender td.not_active {
	color: #00000099;
}
.calender td:hover {
	background: var(--theme-color);
	color: #fff;
}
.calender td:first-child {
	border-left: 2px solid #80808080;
}
.calender td.active {
	background: var(--highlight);
	color: #fff;
}
.calender td.event {
	background: #008000;
	color: #fff;
}
.event_card {
	background-color: #fff;
	box-shadow: 0 0 0.75rem #1557991a;
	padding: 0.75rem 0.5rem 0.75rem 1.5rem;
	border-radius: 1rem;
	position: relative;
	margin-bottom: 1rem;
	overflow: hidden;
}
.event_card::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 0.5rem;
	top: 0;
	left: 0;
	background-image: linear-gradient(15deg, #f37335, #fdc830);
}
.event_time {
	color: var(--desc-color);
	font-size: 0.875rem;
	margin-bottom: 0.25rem;
}
@media (width >= 768px) {
    .event_card:nth-child(3) {
        left: -2rem;
    }
}
@media (width < 768px) {
    .event_card > .card_desc{
        font-size: 0.75rem;
    }
    .slides{
        padding: 1rem 1.5rem;
        background-position: 0%;
    }
    .slide_container {
        min-height: 250px;
    }
}
.testimonial {
	color: var(--heading-color);
	font-size: 1.175rem;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 1.25rem;
}
@media (width < 768px) {
    .testimonial{
        font-size: .75rem;
    }
}
.test_name {
	color: var(--desc-color);
	font-size: 0.89rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	text-transform: capitalize;
	position: relative;
	z-index: 9;
}
.test_name::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 66px;
	height: 3rem;
	background-image: url(../img/quote.png);
	background-repeat: no-repeat;
	transform: translateX(-50%);
	z-index: -1;
}
.test_prof {
	display: block;
	color: var(--theme-color);
	font-size: 0.75rem;
	font-style: italic;
	position: relative;
	z-index: 9;
}
.news_img {
	border-radius: 1rem;
	width: 100%;
	aspect-ratio: 4/3;
	object-fit: cover;
	object-position: center;
}
@media (width < 768px) {
	.news_img{
		margin-top: 1rem;
	}
}