body {
	background-image: url(../img/home/banner-bg.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
}
/*====================================== Banner Section ======================================*/
.main_banner {
	padding: 4rem 0;
	display: flex;
	align-items: center;
}
.main_banner_text {
	color: var(--heading-color);
	font-size: 4rem;
	line-height: 1.5;
	font-weight: 600;
	margin-bottom: 1.5rem;
}
.main_banner_text > span {
	color: var(--theme-color);
	position: relative;
}
.main_banner_text > span::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: var(--theme-color);
	bottom: 0rem;
}
.main_banner_desc {
	color: #333;
	font-size: 1.25rem;
	letter-spacing: 1px;
	line-height: 1.3;
}
.main_title {
	color: var(--theme-color);
	font-size: 12rem;
	font-weight: 600;
	position: absolute;
	bottom: 10%;
	left: -20px;
	opacity: 0.1;
	z-index: -1;
}
@media (width < 768px) {
	.main_banner_text {
		font-size: 2.5rem;
	}
	.main_title {
		font-size: 6rem;
		bottom: 5%;
	}
	.main_banner {
		padding: 3rem 0rem;
		text-align: center;
	}
	.main_banner_desc {
		text-align: justify;
		font-size: 1rem;
		padding: 0 1.5rem;
	}
}
.banner_element {
	position: absolute;
	width: 540px;
	height: 600px;
	background-image: url(../img/home/elements.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform-style: preserve-3d;
	visibility: visible;
}
.banner_btn {
	scale: 1.1;
}
/*====================================== Masonary Section ======================================*/
.gallery_preview {
	display: none;
}
.gallery_preview.show {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;
	width: 100vw;
	height: 100vh;
	padding: 1.5rem;
	background-color: #000000dd;
	backdrop-filter: blur(5px);
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
}
@media (width <= 360px){
    .gallery_preview.show{
        padding: 1.5rem 0;
    }
}
.gallery_close,
.gallery_preview > button {
	cursor: pointer;
	font-size: 1.5rem;
	line-height: 1;
	border-radius: 5rem;
	padding: 0.5rem 0.7rem;
	color: #fff;
	background-color: var(--highlight);
}
.gallery_preview > div {
	height: 2.5rem;
}
.gallery_preview > button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 2.5rem;
	border: none;
	align-self: center;
}
div[data-gallery] {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 50px);
}
[data-gallery] > img {
	max-width: 80%;
	height: auto;
	max-height: 100%;
}
@media (width >= 768px) {
	.masonary {
		display: grid;
		gap: 8px;
		grid-template-columns: repeat(10, minmax(9.091%, auto));
		grid-template-rows: repeat(10, minmax(50px, auto));
		margin: 5rem auto;
	}
	.masonary > div {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		cursor: pointer;
		box-shadow: 0 0.5rem 0.75rem #00000038;
		border-radius: 8px;
	}
	.masonary > div > img {
		flex-shrink: 0;
		width: auto;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
	}
	.masonary_img1 {
		grid-area: 3/1/9/3;
	}
	.masonary_img2 {
		grid-area: 2/3/6/5;
	}
	.masonary_img3 {
		grid-area: 6/3/11/5;
	}
	.masonary_img4 {
		grid-area: 1/5/5/7;
	}
	.masonary_img5 {
		grid-area: 5/5/8/7;
	}

	.masonary_img6 {
		grid-area: 2/7/4/9;
	}
	.masonary_img7 {
		grid-area: 4/7/9/9;
	}
	.masonary_img8 {
		grid-area: 1/9/5/11;
	}
	.masonary_img9 {
		grid-area: 5/9/8/11;
	}
	.masonary_img10 {
		grid-area: 8/9/11/11;
	}
}
@media (width < 768px) {
	div[data-gallery] {
		height: calc(100vh - 10rem);
		width: 75%;
	}
	.masonary {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.masonary > div {
		width: calc(50% - 8px);
		padding: 4px;
		margin: 4px;
		aspect-ratio: 1;
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		background: #eee;
	}
	.masonary > div > img {
		flex-shrink: 0;
		width: 100%;
		height: auto;
		max-height: 100%;
		object-fit: cover;
	}
}
/*====================================== Calender Section ======================================*/
.left_heading {
	position: relative;
}
.left_heading::before {
	content: "";
	position: absolute;
	top: -40px;
	left: -70px;
	width: 114px;
	height: 108px;
	background-image: url(../img/home/sec-bg.png);
	background-repeat: no-repeat;
	z-index: -1;
}
.calender_cell {
	padding: 0.75rem 0;
	text-align: center;
	background-color: #0000001e;
	border: 2px solid #3d3d3d80;
}
.calender > thead > tr.bg-theme {
	border: 2px solid var(--theme-color);
}
.calender td {
	cursor: pointer;
	padding: 0.75rem 0;
	font-weight: 700;
	border-right: 2px solid #80808080;
	border-bottom: 2px solid #80808080;
}
@media (width < 768px) {
	.calender_cell {
		font-size: 0.75rem;
	}
	.calender td {
		font-size: 0.75rem;
	}
}
.calender td.not_active {
	color: #00000099;
}
.calender td:hover {
	background: #ffefe6;
	color: var(--theme-color);
}
.calender td:first-child {
	border-left: 2px solid #80808080;
}
.calender td.active {
	background: #daebfa;
	color: var(--highlight);
}
.calender td.event {
	background: #e4ffe4;
	color: #008000;
}
.notice_card {
	background-color: #eef7ff;
	box-shadow: 0 0 0.75rem #1557991a;
	padding: 0.75rem 0.5rem 0.75rem 1.5rem;
	border-radius: 1rem;
	position: relative;
	margin-bottom: 1rem;
	overflow: hidden;
}
.notice_card::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 0.5rem;
	top: 0;
	left: 0;
	background-image: linear-gradient(15deg, #f37335, #fdc830);
}
.notice_card > .card_title {
	color: var(--highlight);
}
.notice_time {
	color: var(--desc-color);
	font-size: 1rem;
	margin-bottom: 0rem;
	text-align: right;
}
@media (width >= 768px) {
	.notice_card:nth-child(2) {
		left: -2rem;
	}
}
.slides {
	background-color: #daffda;
}
@media (width < 768px) {
	.event_card > .card_desc {
		font-size: 0.75rem;
	}
	.slides {
		padding: 1rem 1.5rem;
		background-position: 0%;
	}
	.slide_container {
		min-height: 250px;
	}
}
.testimonial {
	color: #467e1e;
	font-size: 1.25rem;
	line-height: 1.5;
	margin: 2.5rem 0 1.25rem;
}
@media (width < 768px) {
	.testimonial {
		font-size: 0.75rem;
	}
}
.test_name {
	color: var(--desc-color);
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	text-transform: capitalize;
	position: relative;
	z-index: 9;
}
.test_name::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 66px;
	height: 3rem;
	background-image: url(../img/quote.png);
	background-repeat: no-repeat;
	transform: translateX(-50%);
	z-index: -1;
}
.test_prof {
	display: block;
	color: var(--theme-color);
	font-size: 0.75rem;
	position: relative;
	z-index: 9;
}
/*====================================== article Section ======================================*/
.article_img {
	border-radius: 0.25rem;
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	object-position: center;
}
.article_img + .card_title {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.35rem;
	font-weight: 600;
}
@media (width < 768px) {
	.article_img {
		margin-top: 1rem;
	}
}
